#container5{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 2%;
   } 
   #container5>div{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    text-align: center;
   }
   #container5>div:hover{
    cursor: pointer;
    background-color: rgb(218, 193, 159);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
   }
   #container5>div>img{
    width:70%;
   }
   #container5>div>img:hover{
    width: 75%;
   }
   button{
    width: 150px;
    height: 25px; 
    background-color: rgb(170, 187, 182);
    border-radius: 20px;
    margin-bottom: 5%;
    
   }
   button:hover{
    cursor: pointer;
    color: rgb(51, 9, 9);
    font-weight: bold;
    background-color: rgb(57, 79, 121);
   }
   #sortprice {
    display: flex;
    justify-content: center;
   
}
 select {
    border: 1px solid white;
    margin-left: 5%;
}
 
/* Medium screens */
@media all and (min-width: 451px) and (max-width: 750px) {
#container5{
    grid-template-columns: repeat(2,1fr); 
}
}
/* Small screens */
@media all and (min-width: 100px) and (max-width: 450px) {
#container5{
    grid-template-columns: repeat(1,1fr); 
}
}