body {
  margin: 0px;
}

#navbar {
  background-color: rgb(30, 138, 239);
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar a > img {
  width: 180px;
  height: 50px;
}

#navOpt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#navOpt > div {
  display: flex;
  align-items: center;
}

#navOpt a + span {
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 34px;
  margin-left: 34px;
  border-left: 2.5px solid rgba(232, 222, 222, 0.648);
  color: white;
  font-family: sans-serif;
}

#navOpt span > img {
  width: 16px;
  height: 20px;
  padding-right: 5px;
}

#navText {
  display: flex;
  justify-content: flex-end;
}
#navText > div {
  display: flex;
  align-items: center;
}
#navText > div > p:nth-child(odd) {
  width: 100px;
  height: 4px;
  background-color: white;
}
#navText > div > p:nth-child(even) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(64, 29, 180);
  border: 3px solid white;
}

#navText p > span {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  top: 65px;
}
@media all and (min-width: 200px) and (max-width: 900px) {
  #navbar a > img {
    width: 100px;
    height: 30px;
  }
  #navOpt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px;
  }
  #navOpt > div {
    flex-wrap: wrap;
  }
  #navText > div {
    max-width: 360px;
  }
  #navText span {
    padding: 12px;
    padding-left: 0px;
  }
  #tableH > :nth-child(1) {
    font-size: 0.6rem;
  }
  #tableBody > :nth-child(n) {
    font-size: 0.7rem;
  }
  #tableBody > tr > td > table > tbody {
    max-width: 500px;
  }
  #tableBody > tr > td > table > tbody > tr {
    display: flex;
    flex-wrap: wrap;
  }
  #tableBody > tr > td > table > tbody > tr > :nth-child(n) {
    padding: 5px;
  }
  #orderDiv > div {
      font-size: 1.1rem;
      display: flex;
      flex-wrap: wrap;
    }
    #totalValue{
        font-size: .4rem;
    }
    #orderDiv > div > :nth-child(n+2) {
      width: 120px;
    }
}
