
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: skyblue;
}



/* navbar style */


#navbar{
    width: 100%;
   height: 100px;
   margin-top: 0%;
    display: flex;
    background-color: rgb(54,98,216);
    justify-content: space-between;
}

#progressdiv{
    width: 35%;
    height: 12%;
    background-color: rgb(54,98,216);
}

#imgdiv{
    width: 25%;
    background-color: rgb(54,98,216);
    display: flex;
}

#imgdiv img{
    width: 90%;
    background-color: rgb(54,98,216);
   
}

#logodiv{
    width: 25%;
    background-color: rgb(54,98,216);
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
}
#span{
    color: white;
    font-style: italic;
    margin-top: 10px;
    margin-left: 10px;
}
#logodiv img{
    width: 25px;
    height: 50%;
    display: flex;
    flex-direction: row;
    background-color: rgb(54,98,216);
    position: relative;
}

h3{margin-top: 7%;
margin-left: 7%;}

table{
    width: 95%;
    margin: auto;
    gap: 5%;
}
th{
    background-color: rgb(241,241,241);
    height: 40px;
}

.tableRow{
    padding-top: 20px;
    width: 100%;
}
#item-box{
    width: 45%;
}

#lowerdiv{
    display: flex;
    width: 95%;
justify-content: space-between;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
margin: auto;
padding-top: 25px;
height: 100px;
}
#buttondiv{
    width: 45%;
    display: flex;
    justify-content: right;
   
}
#paypal{
    width: 200px;
    height: 40px;
    background-color: rgb(255,196,57);
    border: 0px;
    color: white;
    border-radius: 5%;
}
#checkout{
    width: 200px;
    height: 40px;
    background-color: rgb(0,102,255);
    margin-left: 5px;
    border: 0px;
    color: white;
    border-radius: 5%;
}

#slider{
    display: flex;
    padding-bottom: 50px;
    width: 95%;
    margin: auto;
}

.item{
    width: 18%;
    margin: auto;
   
}

.item img{
width: 98%;
}

.item h5{
   color: rgb(210, 9, 9);
    }

    #bottom{
        display: flex;
        justify-content:center;
        font-size: small;
    }

    #footer{
        width: 95%;
        margin: auto;
    }
    #footer img{
        width: 100%;
    }


    #signbarNav {
        width: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      
      #shipToNavdown {
        display: flex;
        position: relative;
      }
      
      #currencyDropDown {
        height: 250px;
        width: 350px;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        top: 22px;
        right: 0px;
        z-index: 2;
        display: none;
        color: black;
        border: 30px solid transparent;
      }
      #currencyDropDown > h3 {
        font-size: 1.2rem;
        color: black;
      }
      #currencyDropDown > span {
        color: grey;
        font-size: 1.1rem;
      }
      
      #shipToNavdown:hover #currencyDropDown {
        display: grid;
        grid-gap: 5px;
      }
      
      #signInUpNav {
        position: relative;
      }
      
      #signInUpNav:hover #signInDropDownNav {
        display: grid;
      }
      
      #signInDropDownNav {
        height: 200px;
        width: 300px;
        position: absolute;
        right: -100px;
        top: 30px;
        background-color: white;
        z-index: 2;
        border-radius: 10px;
        display: none;
        grid-template-columns: 70%;
        grid-template-rows: 20% 30% 30%;
        justify-content: center;
        grid-gap: 10px;
        color: black;
      }
      #signInDropDownNav > :first-child {
        font-size: 1rem;
        padding: 10px;
      }
      #signInDropDownNav span + span {
        /* display: block;/ */
        background-color: #1073fe;
        color: white;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        justify-content: center;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #1073fe;
      }
      /* #signInDropDownNav span + span:hover {
        color: #1073fe;
        background-color: transparent;
      } */
      
      #signInDropDownNav span + span + span {
        color: #1073fe;
        background-color: transparent;
      }
      /* #signInDropDownNav span + span + span:hover {
        background-color: #1073fe;
        color: white;
      } */
      #signInDropDownNav span a {
        color: white;
        text-decoration: none;
      }
      #signInDropDownNav span + span + span a {
        color: #1073fe;
      }

      #topcontainer{
        display: flex;
      }
@media only screen and (max-width: 730px) {
    #navbar{
        width: 100%;
       height: 100px;
       margin-top: 0%;
        display: flex;
        background-color: rgb(54,98,216);
        justify-content: space-between;
    }
}
@media (min-width: 731px) and (max-width: 1150px) {
    #navbar{
        width: 100%;
       height: 100px;
       margin-top: 0%;
        display: flex;
        background-color: rgb(54,98,216);
        justify-content: space-between;
    }
}


   /* --cart-section---/ */

#cart-section{
    display: none;
}

#caution{
    background-color: pink;
   width: 95%;
   margin: auto;
}


#detais{
    display: flex;
    flex-direction: column;
    width: 90;
    height: 600px;
    margin-left: 2%;
    margin: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input{
    height: 40px;
    width: 50%;
    margin: 20px;
}

.label{
    height: 40px;
    width: 80%;
    margin: 10px;
    display: flex;
}

.lableltag{
    height: 40px;
    width: 20%;
    border: 1px solid red;
   margin: 20px;
   
}