#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: skyblue;
}



/* navbar style */


#navbar{
    width: 100%;
   height: 100px;
   margin-top: 0%;
    display: flex;
    background-color: rgb(54,98,216);
    justify-content: space-between;
}

#progressdiv{
    width: 35%;
    height: 12%;
    background-color: rgb(54,98,216);
}

#imgdiv{
    width: 25%;
    background-color: rgb(54,98,216);
    display: flex;
}

#imgdiv img{
    width: 90%;
    background-color: rgb(54,98,216);
   
}

#logodiv{
    width: 25%;
    background-color: rgb(54,98,216);
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
}
#span{
    color: white;
    font-style: italic;
    margin-top: 10px;
    margin-left: 10px;
}
#logodiv img{
    width: 25px;
    height: 50%;
    display: flex;
    flex-direction: row;
    background-color: rgb(54,98,216);
    position: relative;
}

h3{margin-top: 7%;
margin-left: 7%;}

table{
    width: 95%;
    margin: auto;
    gap: 5%;
}
th{
    background-color: rgb(241,241,241);
    height: 40px;
}

.tableRow{
    padding-top: 20px;
    width: 100%;
}
#item-box{
    width: 45%;
}

#lowerdiv{
    display: flex;
    width: 95%;
justify-content: space-between;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
margin: auto;
padding-top: 25px;
height: 100px;
}
#buttondiv{
    width: 45%;
    display: flex;
    justify-content: right;
   
}
#paypal{
    width: 200px;
    height: 40px;
    background-color: rgb(255,196,57);
    border: 0px;
    color: white;
    border-radius: 5%;
}
#checkout{
    width: 200px;
    height: 40px;
    background-color: rgb(0,102,255);
    margin-left: 5px;
    border: 0px;
    color: white;
    border-radius: 5%;
}

#slider{
    display: flex;
    padding-bottom: 50px;
    width: 95%;
    margin: auto;
}

.item{
    width: 18%;
    margin: auto;
   
}

.item img{
width: 98%;
}

.item h5{
   color: rgb(210, 9, 9);
    }

    #bottom{
        display: flex;
        justify-content:center;
        font-size: small;
    }

    #footer{
        width: 95%;
        margin: auto;
    }
    #footer img{
        width: 100%;
    }



      #topcontainer{
        display: flex;
      }
@media only screen and (max-width: 730px) {
    #navbar{
        width: 100%;
       height: 100px;
       margin-top: 0%;
        display: flex;
        background-color: rgb(54,98,216);
        justify-content: space-between;
    }
}
@media (min-width: 731px) and (max-width: 1150px) {
    #navbar{
        width: 100%;
       height: 100px;
       margin-top: 0%;
        display: flex;
        background-color: rgb(54,98,216);
        justify-content: space-between;
    }
}


   /* --cart-section---/ */

#cart-section{
    display:block;
}

#caution{
    background-color: pink;
   width: 95%;
   margin: auto;
}


#detais{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 95;
    margin-left: 2%;
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.input{
    height: 40px;
    width: 50%;
    margin: 20px;
}

.label{
    height: 40px;
    width: 70%;
    margin: 10px;
    display: flex;
}

.lableltag{
    height: 40px;
    width: 20%;
   margin: 20px;
   
}

.lablein{
   display: flex;
   justify-content: right;
   margin-top: 5px;
}
#buttons{
    width: 25%;
    margin-left: 20%;
      margin-top: 3%;
}

#tag{
    border: 0px;
    width: 25%;
    margin-left: 20%;
      margin-top: 3%;
}

#buttons button{
    width: 45%;
    margin: auto;
    height: 45px;
}

#buttons :nth-child(1){
    background-color: rgb(53,125,255);
    border-radius: 5px;
    border: 0px;
    color: white;
    
}
#buttons :nth-child(1):hover{
    cursor: pointer;
}

#buttons :nth-child(2):hover{
    cursor: pointer;
}

#buttons :nth-child(2){
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    margin-left: 5px;
}

#priceDiv{
    display: flex;
    width: 90%;
    margin-left: 2%;
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
justify-content: space-between;
}

#rightdiv{
    width: 20%;
    margin-right: 5%;
}
#rightdiv div{
display: flex;
justify-content: space-between;
}

#rightdiv button{
    background-color:rgb(0,102,255);
    border-radius: 5px;
    border: 0px;
    color: white;
    width: 90%;
    height: 50px;
    margin-left: 10px;margin-bottom: 40px;
}

#applay{
    background-color: rgb(0,102,255);
    border-radius: 5px;
    border: 0px;
    color: white;
    width: 60px;
    height: 20px;
}
#coupan{
    margin-left: 10%;
    width: 51%;
}
#leftdiv{
    width: 50%;
} 
#leftdiv p{
margin-left: 10%;
}

#shipdiv{
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: auto;
}
#h3div{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
height: 40px;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 20px;
}

#shipdiv img{
    width: 120px;
}
h2{
    margin-left:5%;
}
#item-box1{
height: 100px;
width: 60%;
}
#item-box2{
   display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px;
    }

    #Shippingd{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 20px;
    }

/* component navbar*/

    #navbar {
        background-color: rgb(30, 138, 239);
        min-height: 100px;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 20px;
        align-items: center;
        position: sticky;
        top: 0px;
      }
      
      #navbar a > img {
        width: 180px;
        height: 50px;
      }
      
      #navOpt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      
      #navOpt > div {
        display: flex;
        align-items: center;
      }
      
      #navOpt a + span {
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 34px;
        margin-left: 34px;
        border-left: 2.5px solid rgba(232, 222, 222, 0.648);
        color: white;
        font-family: sans-serif;
      }
      
      #navOpt span > img {
        width: 16px;
        height: 20px;
        padding-right: 5px;
      }
      
      #navText {
        display: flex;
        justify-content: flex-end;
      }
      #navText > div {
        display: flex;
        align-items: center;
      }
      #navText > div > p:nth-child(odd) {
        width: 100px;
        height: 4px;
        background-color: white;
      }
      #navText > div > p:nth-child(even) {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(64, 29, 180);
        border: 3px solid white;
      }
      
      #navText p > span {
        color: white;
        font-family: sans-serif;
        font-size: 14px;
        position: absolute;
        top: 65px;
      }
      @media all and (min-width: 200px) and (max-width: 900px) {
        #navbar a > img {
          width: 100px;
          height: 30px;
        }
        #navOpt {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 2px;
        }
        #navOpt > div {
          flex-wrap: wrap;
        }
        #navText > div {
          max-width: 360px;
        }
        #navText span {
          padding: 12px;
          padding-left: 0px;
        }
        #tableH > :nth-child(1) {
          font-size: 0.6rem;
        }
        #tableBody > :nth-child(n) {
          font-size: 0.7rem;
        }
        #tableBody > tr > td > table > tbody {
          max-width: 500px;
        }
        #tableBody > tr > td > table > tbody > tr {
          display: flex;
          flex-wrap: wrap;
        }
        #tableBody > tr > td > table > tbody > tr > :nth-child(n) {
          padding: 5px;
        }
        #orderDiv > div {
            font-size: 1.1rem;
            display: flex;
            flex-wrap: wrap;
          }
          #totalValue{
              font-size: .4rem;
          }
          #orderDiv > div > :nth-child(n+2) {
            width: 120px;
          }
      }